@using RaspberryPIWebApp.Models
@model List<RaspberryPIWebApp.Models.PiPin>
@{
    ViewBag.Title = "ReconfigRoom";
    Layout = "~/Views/Shared/_LayoutCustom.cshtml";
    List<Room> rooms = ViewBag.roomList;
    int j = 1;
}
<link href="/img/favicon.ico" type="image/x-icon" rel="shortcut icon">

<!-- Alert Start -->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="dashboard-info">
                <div class="alert alert-info alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    Manage your <strong>Profile,</strong> configure your <strong>System</strong> and <strong>Devices</strong>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Alert end -->
<div class="user-dashboard">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- Nav tabs -->
                <div class="card">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" ><a href='@Url.Action("Index","UserDashboard")'>Control Devices</a></li>
                        <li role="presentation" class="active"><a href='@Url.Action("ReconfigIndex","UserDashboard")'>Reconfigure Devices</a></li>
                    </ul>

                    <div class="device-configuration">
                        <div class="">
                            <div class="row">

                                <div class="col-md-10 col-xs-6">
                                    <div class="device-config-title">
                                    </div>
                                </div>
                            </div>

                            <form method="POST">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="pin-configuration">
                                            <table class="table table-hover" id="tab_logic">
                                                <thead>
                                                    <tr>
                                                        <th class="text-center">
                                                            Pin Number
                                                        </th>
                                                        <th class="text-center">
                                                            Device Name
                                                        </th>
                                                        <th class="text-center">
                                                            Device Location
                                                        </th>
                                                        <th class="text-center">
                                                            Select Room
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var pin in Model)
                                                    {
                                                        <text>
                                                            <tr id='addr0'>
                                                                <td>
                                                                    <input type="hidden" value="@pin.PiPinId" name="PiPinId" />
                                                                    <input type="text" value="@pin.PinNumber" name='PinNumber' placeholder='Pin Number' required class="form-control"/>
                                                                </td>
                                                                <td>
                                                                    <input type="text" value="@pin.ApplienceName" name='ApplienceName' placeholder='Device Name' required class="form-control" />
                                                                </td>
                                                                <td>
                                                                    <input type="text" value="@pin.Location" name='Location' placeholder='Device Location' required class="form-control" />
                                                                </td>
                                                                <td>
                                                                    <select name="RoomId" id="RoomId" class="form-control" required>
                                                                        <option value="">---Select---</option>
                                                                        @foreach (var aroom in rooms)
                                                                        {
                                                                            if (aroom == pin.Room)
                                                                            {
                                                                                <option selected value="@aroom.RoomId">@aroom.RoomName</option>
                                                                            }
                                                                            else
                                                                            {
                                                                                <option value="@aroom.RoomId">@aroom.RoomName</option>
                                                                            }

                                                                        }
                                                                    </select>
                                                                </td>
                                                            </tr>
                                                        </text>
                                                        j++;
                                                    }
                                                    <tr id='addr1'></tr>
                                                </tbody>
                                            </table>
                                            <a id="add_row" class="btn btn-info pull-left"><i class="icofont icofont-plus-circle"></i></a>
                                            <a id='delete_row' class="pull-left btn btn-danger"><i class="icofont icofont-minus-circle"></i></a>
                                            <button class="pull-right btn btn-success" type="submit">Save</button>
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class="col-md-offset-7 btn btn-success" href='@Url.Action("ReconfigDeviceNameandRoom","UserDashboard",new { piId = @ViewBag.piId})'>Back to Room</a>
                                        </div>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>






@section scripts
{
    <script>
        $(document).ready(function () {
            var i = @j;
            $("#add_row").click(function () {
                $('#addr' + i).html("<td><input name='PinNumber" 
                    + "' type='text' placeholder='Pin Number' required class='form-control input-md' />" +
                    " </td><td><input name='ApplienceName' required type='text' placeholder='Device Name' " +
                    "class='form-control input-md'></td><td><input name='Location' type='text'" +
                    " placeholder='Device Location'required class='form-control input-md'></td> " +
                    "<td>" +
                    "<select name='RoomId' id='RoomId'  class='form-control' required>" +
                    "<option value=''>---Select---</option>" +
                    @foreach (var aroom in rooms)
                    {
                        @:"<option value='@aroom.RoomId'>@aroom.RoomName</option>" +
                    }
                    +
                    "</select></td>");

                $('#tab_logic').append('<tr id="addr' + (i + 1) + '"></tr>');
                i++;
            });
            $("#delete_row").click(function () {
                if (i > 1) {
                    $("#addr" + (i - 1)).html('');
                    i--;
                }
            });

        });
    </script>


}




